html,
      body {
        width: 100%;
        height: 100%;
        margin: 0;
      }

      #app-root {
        display: flex;
        width: 100%;
        height: 100%;
        overflow: hidden;
      }